# Node.js
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
.next/
out/
dist/

# Database / secrets
*.sql
*.db
__pycache__/
*.sqlite
.mock-users.json
.mock-media.json

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
